@charset "utf-8";
/* CSS Document */

/*--font--*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https//fonts.googleapis.com/earlyaccess/notosansjapanese.css');

.twiter{opacity:1; transition: opacity 0.6s linear;}

.header:hover .twiter{opacity:1; }

html{width:100%;height:100%;font-size:16px; min-width:100%;}

body{
	font-family: 'Noto Sans JP', sans-serif;
	width:100%;
	height:100%;
	border:0px solid green;
	padding:0;
	margin:0;
	font-size:16px;
}

header {
    background: #02021c;
}


a{text-decoration-line: none;}

#page-conteiner{background-color:#02021c;}

.title{margin:auto; width:80%; border:0px solid red; font-size:2vw; color:#DB1824; text-align: center; font-weight: 600; padding:8% 0 1.5% 0;}
.title_line{width:100%; border:2px solid red; padding:10px 10px; border-radius:80px;}


.title_pro{margin:auto; width:65%; border:0px solid red; font-size:2vw; color:#DB1824; text-align: center; font-weight: 600; padding:6% 0 1.5% 0;}
.title_line_pro{width:100%; border:2px solid red; padding:10px 10px; border-radius:80px;}


a{text-decoration:none; 
	color:white;}

img{width:auto;}

ul, li{ list-style:none; margin:0;}

p{margin:0; padding:0; font-family: 'Noto Sans JP', sans-serif;}


#main{
	background-color:black;
	width:100%;
	background-image:url('https://i.gyazo.com/2214b44c6c2d99d02d1d56406297374c.jpg');
	background-position:center;
	background-size:cover; 
	background-repeat: no-repeat; 
	border:0px solid pink;
}



#character_wrap{width: 100%; height:100%; border:0px solid red; padding-bottom:30px; position:relative;}
.Character{
	margin:auto;
	border:0px solid red;
	width: 80%; 
	opacity: 0;
	padding-top:1%;
	padding-bottom:30px;
}
.Character img{width:85%;}

.pobup_link{position:absolute;top:70%;left:75%;} 
.pobup_link div{padding:25px 50px; color:white; font-weight:700; background-color:#FF6E00; border-radius:30px; opacity:90%; transition: background 0.5s ease-in-out;}
.pobup_link a{text-decoration:none !important ;}
.pobup_link p{font-size:2.4rem;text-decoration:none !important ;}

.pobup_link div:hover{background-color:orangered; color:white; font-weight:700;}

/*.pobup_img{position:absolute;top:65%;left:93%;}
.pobup_img img{width:65%;}*/

#page-conteiner{padding:0; overflow: hidden;}



.inner{width: 90%; border:0px solid red; margin:auto; text-align: center; }

.game_logo{width:100%; margin:auto; padding-bottom:1%;}
.game_logo img{width:40%;}

.header {
	padding:0;
	width:100%;
	border:0px solid blue;
	float: left;
	margin:0;
}

.header .ps4{width:20%; border:0px solid red; padding:32px 0 20px 0; float: left;}
.header .ps4 img{width:90%; float: left;}
.header .nintendo{width:25%;float: left; padding-top:25px;}
.header .nintendo img{width:35%;float: left;}
.header .twiter{width:20%; border:0px solid red; padding-top:25px; float: right;}
.header .twiter img{width:18%; border:0px solid red;float: right;}



.gamelogo img{width:35%; border:0px solid blue;}

.main_img{border:0px solid red; width:70%; margin:auto;}
.main_img img{width:100%;}



#topic{
	width:100%; 
	border:0px solid blue;
	height:400px; 
	background-image:url('https://i.gyazo.com/c31edabf1b7e059e5fbc588d3ec09743.png');
	background-color:#291233;
	background-position:left;
	background-repeat: no-repeat;
	background-size:cover;
	overflow: hidden;
	padding-left:40%;}

.topic_inner{
	width:100%; 
	border:0px solid blue;
	margin:auto;
}
.topic_inner h3{font-size:2.5vw; padding-top:15%; padding-top:4%; color:white; }

.topic_box{
	width:100%; 
	border:0px solid #FFFFFF; 
	background-color:white; 
	height:200px;
	border-radius:50px;
	overflow:scroll; 
	padding-top:20px; 
	overflow-x:hidden;
	-ms-overflow-style: none;
	padding-left:30px;
}

.topic_box_ul{padding:0 0 0 14px;}
.topic_box_s{
	width:80%; 
	border:0px solid #FFFFFF; 
	background-color:white;
	border-radius:50px;
	overflow:hidden;
	overflow-x:hidden;
	-ms-overflow-style: none;
}

.topic_box::-webkit-scrollbar{ display:none; }


.topic_box_ul{width:100%;}
.topic_box_ul li{font-size:1.1vw;}
.topic_box_ul li:nth-child(1){font-weight:400;}
.topic_box_ul li:nth-child(2){font-weight:600; font-size:1.3vw}



/* #Game{width:100%; text-align: center; border:0px solid red; padding-bottom:20px; background-image:url('https://directg.diskn.com/0n5rVsmx2s'); background-size:contain; background-position: bottom; background-repeat: no-repeat;} */
#Game .inner{width: 80%;margin:auto; font-weight:600; font-size:1.8vw;}
#Game h3{width:100%; font-size:1.5vw; font-weight:600; text-align: center; border:0px solid red; padding:10px 0; padding:0; color:#e42a44;}
#Game p{width:100%; font-size:1.1vw; font-weight:300; text-align: center; border:0px solid red; padding:10px 0 30px; color:white;}
#Game img{width: 100%; padding-bottom:50px;}

.title_deco{
    border:0px solid red;
    width:100%;
    text-align: center;
    font-size:20px;
    color:#fff;
    padding-bottom:50px;
}

.table_if{
	border:0px solid red;
	font-size:1vw;
	margin-top:10px;
	width: 100%;
    color:#e42a44;
}

.table_if td{
    padding:15px 15px 15px 0px;
    color:#fff;
}

.table_if th{
    /*background:#6a8821;*/
    padding:15px 15px 15px 0px;
    color:#e42a44;
}

/*
#movie{width: 100%;}
#movie .inner{width:80%; margin:0 auto;}
#movie .title{padding-bottom:3%; padding-top:7%;}
.movie_outer{width:70%; margin:0 auto; padding-bottom:1%;}
.movie_inner{
	position: relative;
    padding-top: 56%;
    width: 100%;
    height: 0;}

.movie_inner > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

#movie{width: 100%; border:0px solid red; background-color:#291233; overflow: hidden; padding-bottom:5%;}
#movie .title{padding-bottom:3%; padding-top:7%;}
#movie .inner{width:75%; border:0px solid green;text-align: center;}
#movie h2{font-size:2vw; font-weight:700;
	color:white; text-align:center; padding-top:5%; padding-bottom:3%;  margin:0;}

#movie .movie_if{float: left;  padding-right:10px; width:50%; padding-top:0px; padding-bottom:4%;}
#movie .movie_if_2{float: left; padding-left:10px; width:50%; padding-top:0px; padding-bottom:4%;}

#movie .movie_if iframe{width:100%; overflow: hidden; background-size: contain; background-position: center;}


/* #PRODUCT{width: 100%; background-image: url('https://directg.diskn.com/1myOp4PfAq'); background-size:cover; background-position: top; } */
.product_cp{font-size:1vw; padding:10px 0 80px 0; color:white;}

.pack_img {text-align: right;}
.pack_img img{width:70%;}




footer{
	bottom:0;
	width: 100%; 
	background-color:#2a0a3c;
	margin-top:80px;
}

.company{width: 100%; border:0px solid magenta; margin:auto; text-align: center; padding:4% 0 10px 0;}
.company li{display:inline-block;}
.company li img{width:70%;}

.copyright{
	font-size:0.8vw;
	padding:7px 0 60px 0 ;
	text-align: center;
	margin:auto;
	width: 80%;
	color:#A8A8A8;
}



#TheCrew{width: 100%; border:0px solid red; padding-top:2%;  position: relative;}
#TheCrew .inner{width:50%; border:0px solid red;  position: relative;}

.small_header{width: 100%; padding-bottom:20px; position: relative;}
.small_header img{width:70%;}


.small_img{width:10%; float:left;}
.small_img img{width:100%;}

.small_star{position:absolute;top:15%;left:18%;}
.small_p{padding-top:5px;font-size:1.1vw; padding-left:40px; color:white; text-align: left; float:right;}


.small_bo{width:70%; margin:auto;}

.small_1{width: 100%; border:0px solid red; overflow: hidden; padding:20px 0; 
	padding-left:70px;position: relative;}

.small_1 .inner{width: 100%; border:0px solid red; text-align: center;}
.small_1 div{float:left;}





@media screen and (min-width:992px){
	.TGS_p_m{display:none;}
	.pack_img_m{display:none;}
	.Character_m{display:none;}
	
	.header_tm{display:none;}
	.ps_tm{display:none;}
	.ps_tm img{display:none;}
	.nintendo_tm{display:none;}
	.nintendo_tm img{display:none;}
	
	
}
    

@media screen and (max-width:1820px) and (min-width:1720px) {
#PRODUCT .pack_img img{
	border:0px solid red;
	width:82%;}
.pobup_link{position:absolute;top:70%;left:75%;}
.pobup_link div{padding:25px 50px; color:white; font-weight:700; background-color:#FF6E00; border-radius:30px; opacity:90%; transition: background 0.5s ease-in-out;  }

.pobup_link a{text-decoration:none !important ;}
.pobup_link p{font-size:2rem;text-decoration:none !important ;}

.pobup_link div:hover{background-color:orangered; color:white; font-weight:700;}
}


@media screen and (max-width:1719px) and (min-width:1520px) {
.pobup_link{position:absolute;top:70%;left:75%;}
.pobup_link div{padding:20px 35px; color:white; font-weight:700; background-color:#FF6E00; border-radius:30px; opacity:90%; transition: background 0.5s ease-in-out;  }

.pobup_link a{text-decoration:none !important ;}
.pobup_link p{font-size:2rem;text-decoration:none !important ;}

.pobup_link div:hover{background-color:orangered; color:white; font-weight:700;}
	
#TheCrew{width: 100%; border:0px solid red; padding-top:2%;  position: relative;}
#TheCrew .inner{width:50%; border:0px solid red;  position: relative;}

.small_header{width: 100%; padding-bottom:20px; position: relative;}
.small_header img{width:70%;}


.small_img{width:10%; float:left;}
.small_img img{width:100%;}

.small_star{position:absolute;top:15%;left:18%;}
.small_p{padding-top:5px;font-size:1.1vw; padding-left:40px; color:white; text-align: left; float:right;}


.small_bo{width:70%; margin:auto;}

.small_1{width: 100%; border:0px solid red; overflow: hidden; padding:20px 0; 
	padding-left:70px;position: relative;}

.small_1 .inner{width: 100%; border:0px solid red; text-align: center;}
.small_1 div{float:left;}

	
#PRODUCT .pack_img img{
border:0px solid pink;
width:83%;}
}




@media screen and (max-width:1519px) and (min-width:1320px) {
.pobup_link{position:absolute;top:70%;left:75%;}
.pobup_link div{padding:20px 35px; color:white;  font-weight:700; background-color:#FF6E00; border-radius:30px; opacity:90%; transition: background 0.5s ease-in-out;  }

.pobup_link a{text-decoration:none !important ;}
.pobup_link p{font-size:1.7rem;text-decoration:none !important ;}

.pobup_link div:hover{background-color:orangered; color:white; font-weight:700;}

#PRODUCT .pack_img img{
border:0px solid green;
width:87%;}
	
#PRODUCT .pack_img img{
border:0px solid blue;
width:82%;}
#TheCrew{width: 100%; border:0px solid red; padding-top:2%;  position: relative;}
#TheCrew .inner{width:80%; border:0px solid red;  position: relative;}

.small_header{width: 100%; padding-bottom:20px; position: relative;}
.small_header img{width:70%;}


.small_img{width:10%; float:left;}
.small_img img{width:100%;}

.small_star{position:absolute;top:15%;left:31%;}
.small_p{padding-top:5px;font-size:1.4vw; padding-left:40px; color:white; text-align: left; float:right;}


.small_bo{width:80%; margin:auto;}

.small_1{width: 100%; border:0px solid red; overflow: hidden; padding:20px 0; 
	padding-left:25%; position: relative;}

.small_1 .inner{width: 100%; border:0px solid red; text-align: center;}
.small_1 div{float:left;}
}




@media screen and (max-width:1319px) and (min-width:992px) {
.pobup_link{position:absolute;top:70%;left:75%;}
.pobup_link div{padding:15px 30px; color:white;  font-weight:700; background-color:#FF6E00; border-radius:20px; opacity:90%; transition: background 0.5s ease-in-out;  }

.pobup_link a{text-decoration:none !important ;}
.pobup_link p{font-size:1.4rem;text-decoration:none !important ;}

.pobup_link div:hover{background-color:orangered; color:white; font-weight:700;}

	
#PRODUCT .pack_img img{
border:0px solid blue;
width:84%;}
#TheCrew{width: 100%; border:0px solid red; padding-top:2%;  position: relative;}
#TheCrew .inner{width:80%; border:0px solid red;  position: relative;}

.small_header{width: 100%; padding-bottom:20px; position: relative;}
.small_header img{width:70%;}


.small_img{width:10%; float:left;}
.small_img img{width:100%;}

.small_star{position:absolute;top:15%;left:31%;}
.small_p{padding-top:5px;font-size:1.4vw; padding-left:40px; color:white; text-align: left; float:right;}


.small_bo{width:80%; margin:auto;}

.small_1{width: 100%; border:0px solid red; overflow: hidden; padding:20px 0; 
	padding-left:25%; position: relative;}

.small_1 .inner{width: 100%; border:0px solid red; text-align: center;}
.small_1 div{float:left;}
}



/*-태블릿-*/
@media screen and (max-width:991px) and (min-width: 769px) {
	
/*.pobup_link{position:static; border:0px solid red; width: 100%; padding:1% 2%; background-color:#2a0a3c; border-radius:30px; opacity:80%; margin-bottom:7%;}
.pobup_link p{font-size:2.7vh; color:white; text-decoration:none !important ;}*/
	
.pobup_link{position:static; padding:20px 0 65px 0;}
.pobup_link div{border:0px solid red; padding:25px 50px; color:white; font-weight:700; background-color:#FF6E00; border-radius:40px; opacity:90%; transition: background 0.5s ease-in-out;   }

.pobup_link a{text-decoration:none !important ;}

.pobup_link p{font-size:3.4rem;text-decoration:none !important ;}
.pobup_link div:hover{background-color:orangered; color:white; font-weight:700;}
	
	
.title{margin:auto; width:90%; border:0px solid red; font-size:6vw; color:#DB1824; text-align: center; font-weight: 600; padding:10% 0 3% 0;}
.title_line{width:100%; border:2px solid red; padding:5px 5px; border-radius:80px;}
.title_pro{margin:auto; width:80%; border:0px solid red; font-size:6vw; color:#DB1824; text-align: center; font-weight: 600; padding:8% 0 5% 0;}
.title_line_pro{width:100%; border:2px solid red; padding:5px 10px; border-radius:80px;}
	
#main{
	background-color:black;
	width:100vw;
	background-image:url('https://directg.diskn.com/1SL4MXDFM0');
	background-position:center;
	background-size:cover; 
	background-repeat: no-repeat; 
	border:0px solid pink;
}

.inner{width: 90%; border:0px solid red; margin:auto; text-align: center; }

.game_logo{width:100%; margin:auto; padding:20% 0;}
.game_logo img{width:80%;}

.header {
	padding:0;
	width:100%;
	border:0px solid blue;
	float: left;
	margin:0;
	
}

.header .ps4{display: none;}
.header .ps4 img{display: none;}
.header .nintendo{display: none;}
.header .nintendo img{display: none;}
.header .twiter{width:60%; border:0px solid red; padding-top:40px; float: right;}
.header .twiter img{width:20%; border:0px solid red;float: right;}
	
.Character img{display:  none;}
	
	
.header_tm{width:100%; border:0px solid red; overflow: hidden; padding-top:60%; padding-bottom:0%;}
.ps_tm{width:60%;float: left; padding-top:15px;}
.ps_tm img{width:80%;}
.nintendo_tm{width:40%;float: left;}
.nintendo_tm img{width:60%;}
	

.main_img{border:0px solid red; width:70%; margin:auto;}
.main_img img{width:95%;}	

/* #PRODUCT{width:100%; border:0px solid red; background-image:url('https://directg.diskn.com/1myOp4PfAq'); background-repeat: no-repeat; background-size: contain; background-position:bottom;} */
#PRODUCT .inner{width:90%; padding-bottom:100px; border:0px solid blue;}
#PRODUCT .TGS{padding:70px 0 80px;}
    
#PRODUCT table{font-size:18px;}
#PRODUCT .table_if{
	width: 100%;
    border:0px solid red;
}
#PRODUCT .table_if td{
    font-size:2.8vw;
    color:white;
    padding:20px 15px 20px 15px;
}
#PRODUCT .table_if th{
    font-weight:600;
    font-size:2.8vw;
    padding:20px 15px 20px 80px; 
    color:white;
	}
	
.pack_img {text-align:center;}
	
#PRODUCT .pack_img img{
	border:0px solid blue;
	width:70%;
}
#PRODUCT .caution{text-align: center; padding-left:15px; font-size:2.3vw; font-weight: 400;}

.product_cp{text-align: left; font-size:2vw; padding-left: 80px;}

	
	
#TheCrew{width: 100%; border:0px solid red; padding-top:2%;  position: relative;}
#TheCrew .inner{width:85%; border:0px solid red;  position: relative;}

.small_header{width: 100%; padding-bottom:20px; position: relative;}
.small_header img{width:95%;}


.small_img{width:15%; float:left;}
.small_img img{width:100%;}

.small_star{position:absolute;top:15%;left:25%;}
.small_p{padding-top:20px;font-size:2.5vw; font-weight:300; padding-left:40px; color:white; text-align: left; float:right;}


.small_bo{width:95%; margin:auto;}

.small_1{width: 100%;overflow: hidden; padding:20px 0; 
	padding-left:80px; border:0px solid pink; position: relative;}

.small_1 .inner{width: 100%; border:0px solid red; text-align: center;}
.small_1 div{float:left;}
	
	
/* #Game{width:100%; text-align: center; border:0px solid red; padding-bottom:60px; background-image:url('https://directg.diskn.com/0n5rVsmx2s'); background-size:contain; background-position: bottom; background-repeat: no-repeat;} */
#Game .inner{width:95%;margin:auto; font-weight:600;}
#Game h3{width:100%; font-size:4vw; font-weight:600; text-align: center; border:0px solid red; padding:10px 0; padding:0; color:#e42a44;}
#Game p{width:100%; font-size:3.5vw; font-weight:200; text-align: center; border:0px solid red; padding:10px 0 30px; color:white;}
#Game img{width: 100%; padding-bottom:70px;}

/*
#movie{width: 100%;}
#movie .inner{width:90%; margin:0 auto;}
#movie .title{padding-bottom:3%; padding-top:7%;}
.movie_outer{width:70%; margin:0 auto; padding-bottom:1%;}
.movie_inner{
	position: relative;
    padding-top: 56%;
    width: 100%;
    height: 0;}

.movie_inner > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/	
#movie{width: 100%; border:0px solid red; background-color:#291233; overflow: hidden; padding-bottom:5%;}
#movie .inner{width:85%; border:0px solid green;text-align: center;}
#movie h2{font-size:4.5vw; font-weight:700;
	color:white; text-align:center; padding-top:12%; padding-bottom:0px;  margin:0;}

#movie .movie_if{float: left;  padding-right:0px; width:100%; padding-top:0px; padding-bottom:4%;}
#movie .movie_if_2{float: left; padding-left:0px; width:100%; padding-top:0px; padding-bottom:4%;}

#movie .movie_if iframe{width:100%; overflow: hidden; background-size: contain; background-position: center;}
	
#topic{
	width:100%; 
	border:0px solid blue;
	height:auto;
	background-image:url('https://i.gyazo.com/c31edabf1b7e059e5fbc588d3ec09743.png');
	background-color:#291233; background-size:cover;
	overflow: hidden;
	padding-left:0%;
	margin:auto;
	padding-bottom:20%;
	}

.topic_inner{
	width:100%; 
	border:0px solid blue;
	margin:auto;
}
.topic_inner h3{font-size:6vw;  font-weight:700; padding-bottom:5%; padding-top:15%; color:white; text-align: center;}

.topic_box{
	display: inline-block;
	margin:auto;
	width:100%; 
	border:3px solid #FFFFFF; 
	background-color:white; 
	height:250px;
	border-radius:50px;
	overflow:scroll; 
	padding-top:20px; 
	overflow-x:hidden;
}
	
.topic_box_s{
	width:90%; 
	border:0px solid #FFFFFF; 
	background-color:white;
	border-radius:50px;
	overflow:hidden;
	overflow-x:hidden;
	-ms-overflow-style: none;
	margin: auto;
}

.topic_box::-webkit-scrollbar{width:10px;}
.topic_box::-webkit-scrollbar-thumb{width:10px; background-color:#2a0a3c; border-radius:10px;}
.topic_box::-webkit-scrollbar-track{display: none; width:10px; background-color:#DDDDDD; border-radius:10px;}

.topic_box::-webkit-scrollbar { width: 16px; } 
.topic_box::-webkit-scrollbar-track { background-color: #e4e4e4; border-radius: 100px; } 
.topic_box::-webkit-scrollbar-thumb { background-color: #d4aa70; border-radius: 100px; } 
.topic_box { scrollbar-color: #D4AA70 #e4e4e4; } 
.topic_box::-webkit-scrollbar-thumb { background-image:red; box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5); border-radius: 100px; }	

	
.topic_box_ul{width:100%;}
.topic_box_ul li{font-size:3.2vw;}
.topic_box_ul li:nth-child(1){font-weight:400;}
.topic_box_ul li:nth-child(2){font-weight:600; font-size:3.8vw}
	
footer{
	bottom:0;
	width: 100%; 
	background-color:#2a0a3c;
	margin-top:80px;
}

.company{width: 100%; border:0px solid magenta; margin:auto; text-align: center; padding:4% 0 10px 0;}
.company li{display:inline-block;}
.company li img{width:70%;}

.copyright{
	font-size:2vw;
	padding:7px 0 60px 0 ;
	text-align: center;
	margin:auto;
	width: 80%;
	color:#A8A8A8;
}

	
}


/*-모바일-*/
@media screen and (max-width:768px) and (min-width: 300px) {

/* #Game{width:100%; text-align: center; border:0px solid red; padding-bottom:60px; background-image:url('https://directg.diskn.com/0n5rVsmx2s'); background-size:contain; background-position: bottom; background-repeat: no-repeat;} */
#Game .inner{width:95%;margin:auto; font-weight:600; font-size:1.8vw;}
#Game h3{width:100%; font-size:4vw; font-weight:600; text-align: center; border:0px solid red; padding:10px 0; padding:0; color:#e42a44;}
#Game p{width:100%; font-size:2.8vw; font-weight:200; text-align: center; border:0px solid red; padding:10px 0 30px; color:white;}
#Game img{width: 100%; padding-bottom:70px;}

.pobup_link{position:static; padding:20px 0 65px 0;}
.pobup_link div{border:0px solid red; padding:25px 50px; color:white; font-weight:700; background-color:#FF6E00; border-radius:40px; opacity:90%; transition: background 0.5s ease-in-out;   }

.pobup_link a{text-decoration:none !important ;}

.pobup_link p{font-size:3.4rem;text-decoration:none !important ;}
.pobup_link div:hover{background-color:orangered; color:white; font-weight:700;}
	
.title{margin:auto; width:90%; border:0px solid red; font-size:5.8vw; color:#DB1824; text-align: center; font-weight: 600; padding:12% 0 5% 0;}
.title_line{width:100%; border:2px solid red; padding:5px 10px; border-radius:80px;}


.title_pro{margin:auto; width:90%; border:0px solid red; font-size:5.8vw; color:#DB1824; text-align: center; font-weight: 600; padding:8% 0 5% 0;}
.title_line_pro{width:100%; border:2px solid red; padding:5px 10px; border-radius:80px;}
	
#main{
	background-color:black;
	width:100vw;
	background-image:url('https://directg.diskn.com/1SL4MXDFM0');
	background-position:center;
	background-size:cover; 
	background-repeat: no-repeat; 
	border:0px solid pink;
}

.inner{width: 90%; border:0px solid red; margin:auto; text-align: center; }

.game_logo{width:100%; margin:auto; padding:25% 0;}
.game_logo img{width:90%;}

.header {
	padding:0;
	width:100%;
	border:0px solid blue;
	float: left;
	margin:0;
	
}

.header .ps4{display: none;}
.header .ps4 img{display: none;}
.header .nintendo{display: none;}
.header .nintendo img{display: none;}
.header .twiter{width:60%; border:0px solid red; padding-top:40px; float: right;}
.header .twiter img{width:20%; border:0px solid red;float: right;}
	
.Character img{display:  none;}

.header_tm{width:100%; border:0px solid red; overflow: hidden; padding-top:60%; padding-bottom:10%;}
.ps_tm{width:60%;float: left; padding-top:15px;}
.ps_tm img{width:80%;}
.nintendo_tm{width:40%;float: left;}
.nintendo_tm img{width:60%;}
	

.gamelogo img{width:35%; border:0px solid blue;}

.main_img{border:0px solid red; width:70%; margin:auto;}
.main_img img{width:95%;}
/*
#movie{width: 100%;}
#movie .inner{width:100%; margin:0 auto;}
#movie .title{padding-bottom:3%; padding-top:7%;}
.movie_outer{width:70%; margin:0 auto; padding-bottom:1%;}
.movie_inner{
	position: relative;
    padding-top: 56%;
    width: 100%;
    height: 0;}	
*/
#movie{width: 100%; border:0px solid red; background-color:#291233; overflow: hidden; padding-bottom:5%;}
#movie .inner{width:95%; border:0px solid green;text-align: center;}
#movie .title{width:95%; padding-bottom:7%; padding-top:12%;}
#movie h2{font-size:4.5vw; font-weight:700;
	color:white; text-align:center; padding-top:17%; padding-bottom:0px;  margin:0;}

#movie .movie_if{float: left;  padding-right:0px; width:100%; padding-top:0px; padding-bottom:3%;}
#movie .movie_if_2{float: left; padding-left:0px; width:100%; padding-top:0px; padding-bottom:3%;}

#movie .movie_if iframe{width:100%; overflow: hidden; background-size: contain; background-position: center;}
	
	
/* #PRODUCT{width:100%; border:0px solid red; background-image:url('https://directg.diskn.com/1myOp4PfAq'); background-repeat: no-repeat; background-size: contain; background-position:bottom;} */
#PRODUCT .inner{width:95%; padding-bottom:100px; border:0px solid blue;}
#PRODUCT .TGS{padding:70px 0 80px;}
    
#PRODUCT table{font-size:18px;}
#PRODUCT .table_if{
	width: 100%;
    border:0px solid red;
}
#PRODUCT .table_if td{
    font-size:3vw;
    color:white;
    padding:20px 15px 20px 10px;
}
#PRODUCT .table_if th{
    font-weight:600;
    font-size:2.5vw;
    padding:20px 15px 20px 50px; 
    color:white;
	}
	
.pack_img {text-align:center;}
	
#PRODUCT .pack_img img{
	border:0px solid blue;
	width:85%;
}
#PRODUCT .caution{text-align: center; padding-left:15px; font-size:2.3vw; font-weight: 400;}

.product_cp{text-align: left; font-size:2vw; padding-left:50px;}
	
#TheCrew{width: 100%; border:0px solid red; padding-top:2%;  position: relative;}
#TheCrew .inner{width:90%; border:0px solid red;  position: relative;}

.small_header{width: 100%; padding-bottom:20px; position: relative;}
.small_header img{width:90%;}


.small_img{width:15%; float:left;}
.small_img img{width:100%;}

.small_star{ position:absolute;top:15%;left:22%;}
.small_star img{width:5%;}
.small_p{padding-top:20px;font-size:2.5vw; font-weight:300; padding-left:40px; color:white; text-align: left; float:right;}


.small_bo{width:95%; margin:auto;}

.small_1{width: 100%;overflow: hidden; padding:20px 0; 
	padding-left:10%; border:0px solid pink; position: relative;}

.small_1 .inner{width: 100%; border:0px solid red; text-align: center;}
.small_1 div{float:left;}
	
#topic{
	width:100%; 
	border:0px solid blue;
	height:auto;
	background-image:url('https://i.gyazo.com/c31edabf1b7e059e5fbc588d3ec09743.png');
	background-color:#291233; background-size:cover;
	overflow: hidden;
	padding-left:0%;
	margin:auto;
	padding-bottom:20%;
	}

.topic_inner{
	width:100%; 
	border:0px solid blue;
	margin:auto;
}
.topic_inner h3{font-size:5vw;  font-weight:700; padding-bottom:5%; padding-top:15%; color:white; text-align: center;}

.topic_box{
	margin:auto;
	width:100%; 
	border:3px solid #FFFFFF; 
	background-color:white; 
	height:200px;
	border-radius:50px;
	overflow:scroll; 
	padding-top:20px; 
	overflow-x:hidden;
}
	
.topic_box_s{
	width:90%; 
	border:0px solid #FFFFFF; 
	background-color:white;
	border-radius:50px;
	overflow:hidden;
	overflow-x:hidden;
	-ms-overflow-style: none;
	margin: auto;
}


.topic_box::-webkit-scrollbar{width:10px;}
.topic_box::-webkit-scrollbar-thumb{width:10px; border-radius:10px;}
.topic_box::-webkit-scrollbar-track{display: none; width:10px; background-color:#DDDDDD; border-radius:10px;}

.topic_box_ul{width:100%;}
.topic_box_ul li{font-size:2.5vw;}
.topic_box_ul li:nth-child(1){font-weight:400;}
.topic_box_ul li:nth-child(2){font-weight:600; font-size:3vw}
	
	
footer{
	bottom:0;
	width: 100%; 
	background-color:#2a0a3c;
}

.company{width: 100%; border:0px solid magenta; margin:auto; text-align: center; padding:4% 0 10px 0;}
.company li{display:inline-block;}
.company li img{width:70%;}

.copyright{
	font-size:2vw;
	padding:7px 0 60px 0 ;
	text-align: center;
	margin:auto;
	width: 80%;
	color:#A8A8A8;
}

}




