$labelColor: #4f4f4f;
*{
    margin:0;
    padding:0;  
}

body {
    margin: 0;
    padding: 0;
    background-size: 200px;
    background-image: url(https://i.imgur.com/Pjc7Lir.png);
}

h1.design {
    position: relative;
    padding: 30px;
    margin: 0;
    border: 1px solid #ccc;
    &::after {
        position: absolute;
        top: .5em;
        left: .5em;
        content: '';
        width: 6px;
        height: -webkit-calc(100% - 1em);
        height: calc(100% - 1em);
        background-color: #3498db;
        border-radius: 4px;
    }
}

h2.design {
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper {
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex-box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .contents {
        width: 300px;
        position: relative;
    }
}

.flex-box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    .contents {
        width: 300px;
        position: relative;
    }
}

.design-box {
    margin: 2em 0;
    background: #ffeaea;
    .title {
        font-size: 1.2em;
        background: #ffb700;
        padding: 4px;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        letter-spacing: 0.05em;        
    }
    p {
        padding: 15px 20px;
        margin: 0;
    }
}

/*
	パンくずリスト
*/
.breadcrumb {
    margin: 10px;
    padding: 0;
    list-style: none;
    li {
        display: inline;
        /*横に並ぶように*/
        list-style: none;
        font-weight: bold;
        /*太字*/
        &:after {
            /* ▶を表示*/
            font-family: "Font Awesome 5 Free";
            content: '\f0da';
            padding: 0 0.2em;
            color: silver;
        }
        &:last-child {
            &:after {
                content: '';
            }
            a {
                text-decoration: none;
                color: #888;
                display: inline-block;
                position: relative;
                text-decoration: none;
                &::after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: #888;
                }
                &:hover {
                    cursor: pointer;
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        &:first-child a:before {
            /*家アイコン*/
            font-family: "Font Awesome 5 Free";
            content: '\f015';
            font-weight: 900;
            font-size: 1.1em;
            color: #888;
        }
        a {
            text-decoration: none;
            color: #888;
            display: inline-block;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background: #888;
                transition: all 0.3s ease 0s;
            }
            &:hover {
                cursor: pointer;
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.box {
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    position: relative;
    z-index: 2;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-indent: -1em;
        margin-left: 1em;
        li::before {
            font-family: "Font Awesome 5 Free";
            content: '\f111';
            color: #4b4b4b;
            font-weight: 300;
            margin-right: 5px;
            font-size: 10px;
        }
        li.unimplement::before {
            font-family: "Font Awesome 5 Free";
            content: '\f071';
            color: #ff0000;
            font-weight: 900;
        }
    } 
}

/* 画像にカーソルを合わせると画像をマスクして文字が出す */
.mask-style {
	width: 280px;
	height: 350px;
	overflow: hidden;
	margin: 10px 5px;
    position: relative;
    text-align: center;
    img {
        width: 100%;
    }
    .caption {
        width: 100%;
        height: 100%;
        visibility: hidden;	/* 文字を表示しない */
        font-size: 130%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        -webkit-transition:	all 0.4s step-end;
        transition: all 0.4s step-end;
        span.name {
            font-size: 130%;
            color: #fff;
            opacity: 0;	/* ホバーが解除された時すぐ消えるように、文字を表示しない */
        }
        p.explanation {
            font-size: 100%;
            color: #fff;
            opacity: 0;	/* ホバーが解除された時すぐ消えるように、文字を表示しない */
        }
    }
    .sns {
        background-color: #fff;
        bottom: 0px;
        position: absolute;
        width: 100%;
        height: 30px;
        i {
            margin: 2px;
            font-size: 26px;
        }
    }
    .mask1, .mask2 {
        width: 50%;	/* 幅は半部のサイズ */
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(0,0,0,0.4);
        -webkit-transition:	all 0.4s ease;
        transition: all 0.4s ease;
    }
    .mask1 {
        left: -50%;	/* 枠の左に置いて表示させない */
    }
    .mask2 {
        right: -50%;	/* 枠の右に置いて表示させない */
    }
    &:hover {
        .caption {
            visibility: visible;	/* 文字を表示する */
            span.name {
                opacity: 1;	/* 文字を表示する */
            }
            p.explanation {
                opacity: 1;	/* 文字を表示する */
            }
        }
        .mask1 {
            left: 0px;	/* 左にずらして表示する */
        }
        .mask2 {
            right: 0px;	/* 右にずらして表示する */
        }
    }
}

canvas {
    border: 1px solid black;
}

span.category {
    display: inline-block;
    padding: 0.2em 0.8em;
    border-radius: 15px;
    text-decoration: none;
    color: #72a1f7;
    background: #c6e2ff;
    font-size: 0.9em;
    margin: 5px;
}

.read-more {
    font-size: 20px;
    text-align: right;
    a {
        text-decoration: none;
        color: #888;
        &:hover {
            color: #888;
            &:after {
                margin-left: 10px;
            }
        }
        &:after {
            font-family: "Font Awesome 5 Free";
            content: '\f054';
            font-weight: 900;
            margin-left: 5px;
        }
    }
}

.mainBox {
    width: 1000px;
    padding: 10px 0;
    min-height: 600px;
    border: solid 1px #000;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0.898);
    .contents {
        margin: 10px;
    }
    img {
        max-width: 500px;
        width: 100%;
    }
    iframe {
        max-width: 500px;
        width: 100%;
    }
}

.sub-box {
    padding: 10px;
    margin: 5px;
    width: 60%;
    p {
        margin: 10px 0;
    }
}

.radius-box {
    border: 0.5px solid rgb(116, 116, 116);
    border-radius: 30px;
    width: 30%;
    padding: 10px;
    height: auto;
    h2 {
        position: relative;
        padding: 10px 2rem 10px 10px;
        border-bottom: 6px solid #094;
        &:before {
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 20%;
            height: 6px;
            content: '';
            background: #00cc5b;
        }
    }
    h3 {
        margin-top: 10px;
    }
    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    a {
        &::after {
            content: '\f019';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }
    }
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ca {
    text-decoration: none;
    .card{
        width: 288px;
        height: auto;
        background: #ffffff;
        margin: 5px;
        overflow: hidden;
        border-radius: 8px;
        &:hover {
            box-shadow: 0 4px 15px rgba(0,0,0,.2);
            .title {
                color: #000;
            }
            .text{
                color: #000;
            }
            .imgframe {
                -ms-filter: blur(2px);
                filter: blur(2px);
            }
        }
        .imgframe {
            width: 100%;
            
            box-sizing: border-box;
            img {
                width: 288px;
                height: 200px;
                object-fit: cover; /* この一行を追加するだけ！ */
            }
        }
        .textbox {
            width: 100%;
            height: auto;
            padding: 20px 18px;
            background: #ffffff;
            box-sizing: border-box;
            & > * + *{
                margin-top: 10px;
            }
        }
        .title {
            font-size: 20px;
            font-weight: bold;
            line-height: 125%;
            color: rgb(80, 80, 80);
        }
        .text{
            font-size: 12px;
            line-height: 150%;
            color: rgb(80, 80, 80);
        }
    }
}

.news-ca {
    text-decoration: none;
    .card{
        width: 100%;
        height: auto;
        background: #ffffff;
        margin: 5px;
        overflow: hidden;
        border-radius: 8px;
        &:hover {
            box-shadow: 0 4px 15px rgba(0,0,0,.2);
            .title {
                color: #000;
            }
            .text{
                color: #000;
            }
            .imgframe {
                -ms-filter: blur(2px);
                filter: blur(2px);
            }
        }
        .imgframe {
            width: 100%;
            height: auto;
            padding-top: 56.25%;
            background: url(https://placehold.jp/640x360.png) no-repeat center;
            background-size: cover;
            box-sizing: border-box;
        }
        .textbox {
            width: 100%;
            height: auto;
            padding: 20px 18px;
            background: #ffffff;
            box-sizing: border-box;
            & > * + *{
                margin-top: 10px;
            }
        }
        .title {
            font-size: 20px;
            font-weight: bold;
            line-height: 125%;
            color: rgb(80, 80, 80);
        }
        .text{
            font-size: 12px;
            line-height: 150%;
            color: rgb(177, 91, 0);
        }
    }
}

@media screen and (max-width:1000px) {
    .mainBox {
        max-width: 100%;
        width: 100%;
        border: none;
    }
    .radius-box {
        display: block;
        width: 95%;
    }
    .flex-box1 .contents {
        display: block;
        width: 95%;
    }
    .sub-box {
        display: block;
        width: 95%;
    }
}

@media screen and (max-width:300px) {
    .mask-style {
        width: 95%;
    }
}