body.dbd {
    background: #0e1217;
}
header {
    background-color: #000;
}
.header-label {
    background: #000;
    ul.nav li {
        a {
            background: #000;
        }
        ul li a {
            background: #000;
        }
    }
    .nav > li:hover > a {/*layer-1*/
        background: #0e1217;
    }
    .nav > li li:hover > a {/*layer-2*/
        background: #0e1217;
    }
}
.footer {
    background-color: #000;
}
.footer_nav {
    background-color: #000;
    // display: none;
}
.sns-share-menu {
    .sns-share-close {
        background-color: #000;
    }
    &.is-active {
        background-color: #0e1217;
    }
}
.mainBox {
    background-color: rgb(35 35 35 / 90%);
}
div.top-label {
    background: #3f3f3f;
    color: #fff;
    .breadcrumb li {
        a {
            color: #ffffffa5;
        }
        &:first-child a:before {
            color: #ffffffa5;
        }
    }
}
main {
    height: 100%;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.margin-center {
    margin-left: auto;
    margin-right: auto;
}
.mainBox {
    box-sizing:border-box;
    width: 100%;
    max-width: 1500px;
}
.title-level {
    font-size: 30px;
}
.color-white {
    color: #fff;
}
.title-description {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.first-section {
    margin-top: 25px;
}
.next-section {
    margin-top: 30px;
}
.team-section {
    display: flex;
    justify-content: space-around;
    .text-field {
        color: #fff;
        margin-top: -7px;
        padding: 5px;
    }
    .img-field {
        overflow:hidden; //これを記述することではみ出た部分を非表示にします。
        img {
            transition:1s all;
        }
    }
    .killer-field,
    .survivor-field {
        width: 100%;
        max-width: 500px;
        &:hover {
            cursor: pointer;
            img {
                transform:scale(1.2,1.2);
                transition:1s all;
            }
        }
    }
    .killer-field {
        .text-field {
            background: #951413;
        }
    }
    .survivor-field {
        .text-field {
            background: #24568e;
        }
    }
    .gray-scale {
        filter: grayscale(100%);
    }
}
.pt-16 {
    padding-top: 4rem;
}
@media screen and (max-width:900px) {
    .team-section {
        display: block;
        .killer-field,
        .survivor-field {
            width: 100%;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.top-hero {
    .top-hero-contents {
        video {
            height: 100%;
            inset: 0;
            margin: 0;
            max-width: none;
            -o-object-fit: cover;
            object-fit: cover;
            padding: 0;
            position: absolute;
            width: 100%;
            object-position: top;
            margin-top: 115px;
        }
    }
    .main-contents {
        position: absolute;
        bottom: 0; //下寄せ
        left: 0; //左寄せ
        width: 100%; //横幅を100%に
        .dummy_video {
            padding-bottom: 5000px;
        }
        .main-contents-flex {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            .main-contents-item {
                justify-content: space-between;
                flex-direction: column;
                position: relative;
                background-color: rgba(255, 255, 255, 0.7); //適宜
            }
        }
        .footer {
            position: absolute;
        }
    }
}

@media screen and (max-width:1220px) {
    .top-hero video {
        height: 700px;
    }
}
@media screen and (max-width:620px) {
    .top-hero video {
        height: 500px;
    }
}
@media screen and (max-width:450px) {
    .top-hero video {
        height: 320px;
    }
}
@media screen and (max-width:280px) {
    .top-hero video {
        height: 200px;
    }
}