body.dbd {
    background: #0e1217;
}
header {
    background-color: #000;
}
.header-label {
    background: #000;
    ul.nav li {
        a {
            background: #000;
        }
        ul li a {
            background: #000;
        }
    }
    .nav > li:hover > a {/*layer-1*/
        background: #0e1217;
    }
    .nav > li li:hover > a {/*layer-2*/
        background: #0e1217;
    }
}
.footer {
    background-color: #000;
}
.footer_nav {
    background-color: #000;
    // display: none;
}
.sns-share-menu {
    .sns-share-close {
        background-color: #000;
    }
    &.is-active {
        background-color: #0e1217;
    }
}
.mainBox {
    background-color: rgb(35 35 35 / 90%);
}
div.top-label {
    background: #3f3f3f;
    color: #fff;
    .breadcrumb li {
        a {
            color: #ffffffa5;
        }
        &:first-child a:before {
            color: #ffffffa5;
        }
    }
}
main {
    height: 100%;
}
.top-background {
    video {
        height: 100%;
        inset: 0;
        margin: 0;
        max-width: none;
        -o-object-fit: cover;
        object-fit: cover;
        padding: 0;
        position: absolute;
        width: 100%;
        object-position: top;
        margin-top: 115px;
    }
    .main-contents {
        position: absolute;
        bottom: 0; //下寄せ
        left: 0; //左寄せ
        width: 100%; //横幅を100%に
        .check {
            background-color: rgba(255, 255, 255, 0.7); //適宜
        }
    }
}

@media screen and (max-width:1220px) {
    .top-background video {
        height: 700px;
    }
}
@media screen and (max-width:620px) {
    .top-background video {
        height: 500px;
    }
}
@media screen and (max-width:450px) {
    .top-background video {
        height: 320px;
    }
}
@media screen and (max-width:280px) {
    .top-background video {
        height: 200px;
    }
}