body.form_page {
    .element_wrap h1 {
        margin-bottom: 20px;
        padding: 20px 0;
        color: #209eff;
        font-size: 122%;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
    }

    .element_wrap p.optional {
        color: #696969;
        margin-left: 5px;
    }

    .element_wrap p.help {
        color: #696969;
        width: 100%;
        margin: 0;
    }

    .element_wrap input[type=text] {
        padding: 5px 10px;
        font-size: 86%;
        border: none;
        border-radius: 3px;
        border: 2px solid #960202;
        background: #fff;
    }

    .element_wrap input[type=text]:focus {
        outline: none;
    }

    .element_wrap textarea[name=contact] {
        max-width: 95%;
        width: 100%;
        height: 200px;
        padding: 5px;
        border: 2px solid #960202;
        background: #fff;
        border-radius: 0.67em; 
    }

    .element_wrap textarea[name=contact]:focus {
        outline: none;
    }

    input[name=btn_confirm],
    input[name=btn_submit],
    input[name=btn_back] {
        margin-top: 10px;
        padding: 5px 20px;
        font-size: 100%;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        box-shadow: 0 3px 0 #2887d1;
        background: #4eaaf1;
    }

    a.form {
        margin-top: 10px;
        padding: 5px 20px;
        font-size: 100%;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        box-shadow: 0 3px 0 #2887d1;
        background: #4eaaf1;
        text-decoration: none;
    }

    input[name=btn_back] {
        margin-right: 20px;
        box-shadow: 0 3px 0 #777;
        background: #999;
    }

    .element_wrap {
        margin-bottom: 10px;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        text-align: left;
    }

    .element_wrap label {
        display: inline-block;
        margin:  0;
        font-weight: bold;
        width: 100%;
    }

    .element_wrap p {
        display: inline-block;
        margin:  0;
        text-align: left;
    }
}