/* softprogress bar CSS */
.softprogress {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    *:not([code-softprogress]) {
        margin: 5px 0;
        font-size: 16px;
    }
    .project-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        .data-contents {
            text-align: right;
            span {
                font-size: 8px;
            }
        }
    }
    [code-softprogress] {
        height: 25px;
        box-shadow: 0 0 1px 1px rgba(0, 20, 0, 0.35) inset;
        border-radius: 15px;
        margin: 5px 0 10px 0;
        overflow: hidden;
        background-color: #ddd;
        &::after {
            content: "";
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background: #2f8d46;
            width: 0;
            height: 100%;
            box-sizing: border-box;
            font-size: 16px;
            color: #fff;
            border-radius: 15px;
            padding: 0;
            transition: 2s;
            padding: 0 3px;
        }
        &.run-softprogress::after {
            content: attr(code-softprogress) "%";
            width: var(--run-softprogress);
        }
    }
}

.loading_text {
    font-size: 25px;
    margin-bottom: 70px;
    text-align: center;
}

@media screen and (max-width: 410px) {
    .softprogress .project-label .data-contents {
        display: none;
    }
    
}
/* End softprogress bar CSS */