.sitemap ul {
    list-style: none;
    li ul {
        margin-top: .5em;
        margin-bottom: .75em;
        margin-left: 30px;
        li {
            margin-bottom: .25em;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -0.5em;
                left: -16px;
                width: 10px;
                height: calc(100% + .75em);
                border-left: 1px solid #3972b2;
            }
            &:last-child::before {
                height: calc(1em + .25em);
            }
            &::after {
                content: "";
                position: absolute;
                top: .75em;
                left: -16px;
                width: 10px;
                border-bottom: 1px solid #3972b2;
            }
        }
    }
}