.status-box {
    background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
	align-items: center;
    padding: 20px;
	margin: auto auto 30px;
    padding: 0;
    display: flex;
	flex-wrap: wrap;
	max-width: 780px;
    .status {
        border-bottom: 1px solid #efefef;
        display: flex;
        padding: 10px 20px;
        font-weight: 500;
        width: 100%;
        .left {
            width: 85%;
            line-height: 29px;
            .description {
                color: rgb(121, 121, 121);
                max-width: 400px;
                width: 95%;
                margin-top: 3px;
            }
            .server-name {
                max-width: 400px;
                width: 95%;
                font-weight: bold;
                a {
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    display: inline-block;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: '';
                        left: 0;
                        width: 0;
                        height: 1px;
                        background: rgb(0, 0, 0);
                        bottom: 0;
                        transition: all 0.3s ease 0s;
                    }
                    &:hover {
                        cursor: pointer;
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .right {
            width: 15%;
            text-align: right;
        }
        img {
            vertical-align: middle;
            margin-bottom: -.35em;
        }
        &.first {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
        &.last {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom: 0;
        }
    } 
}

@media screen and (max-width:810px) {
	.status-box {
		margin-right: 10px;
		margin-left: 10px;
	}
}