$labelColor: #4f4f4f;
*{
    margin:0;
    padding:0;  
}

.contents {
    .main {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .main-inner {

        }
    }
}

.discord-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.discord-btn-primary {
    color: #fff;
    background-color: #5865F2;
    border-color: #5865F2;
}

// IPアドレス表示ページ
.ip_show {
    margin-top: 50px;
    margin-bottom: 50px;
    .ip_show_table {
        background: #bcbcbc;
        padding: 10px;
        .ip_show_check_box_field {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            /* ラベルのスタイル　*/
            label {
                padding-left: 38px; /* ラベルの位置 */
                font-size: 25px;
                line-height: 32px;
                display: inline-block;
                cursor: pointer;
                position: relative;
                
                /* ボックスのスタイル */
                &:before {
                    content: '';
                    width: 32px; /* ボックスの横幅 */
                    height: 32px; /* ボックスの縦幅 */
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    background-color: #fff;
                    box-shadow: inset 1px 2px 3px 0px #000;
                    border-radius: 6px 6px 6px 6px;
                }
            }
            /* 元のチェックボックスを表示しない */
            input[type=checkbox] {
                display: none;
                /* チェックした時のスタイル */
                &:checked + label:before {
                    content: '\2713'; /* チェックの文字 */ 
                    font-size: 34px; /* チェックのサイズ */
                    color: #fff; /* チェックの色 */
                    background-color: #06f; /* チェックした時の色 */
                }
            }
        }
    }
    div#ip_show_box {
        display:none;
        padding:25px;
        background:#eee;
        background: #ccc;
    }

}

/* 共通クラス */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-blue {
    color: blue;
}

.text-20px {
    font-size: 20px;
}

.text-25px {
    font-size: 25px;
}

.margin-top-20px {
    margin-top: 20px;
}